.wrapper-xs {
    inline-size: 100%;
    max-inline-size: 48rem;
    margin-inline: auto;
    padding-inline: $ic-200;
}

.wrapper-sm {
    inline-size: 100%;
    max-inline-size: 63rem;
    margin-inline: auto;
    padding-inline: $ic-200;
}

.wrapper-md {
    inline-size: 100%;
    max-inline-size: 80rem;
    margin-inline: auto;
    padding-inline: $ic-200;
}

.wrapper-lg {
    inline-size: 100%;
    max-inline-size: 100rem;
    margin-inline: auto;
    padding-inline: $ic-200;
}

.wrapper-xl {
    inline-size: 100%;
    max-inline-size: 120rem;
    margin-inline: auto;
    padding-inline: $ic-200;
}
  
  